*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    background-color: #58cf13;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container{
    display: flex;
    margin-top: 15px;
}

.box{
    width: 30px;
    height: 30px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* colors */

.box[data-color="red"]{
    background-color: red;
}

.box[data-color="pink"]{
    background-color: pink;
}

.box[data-color="green"]{
    background-color: green;
}

.box[data-color="yellow"]{
    background-color: yellow;
}

.box[data-color="blue"]{
    background-color: blue;
}