*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: #007cba;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 300px;
}

.counter-value{
    font-size: 40px;
    margin: 20px 0;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.increment{
    background-color: #00d084;
}

.decrement{
    background-color: #1a73e8;
}

.reset{
    background-color: red;
}

button:hover{
    opacity: 0.8;
}